.aboutus-section {
    padding: 80px;
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    
}

.picture-aboutus img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.picture-aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-aboutus {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: center;
    margin: 0px;
}

.list-aboutus {
  list-style: none;
  padding: 0;
}

.list-aboutus li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 8px;
}

.check-icon {
  margin-right: 10px;
  color: var(--primary-color);
  line-height: 1;
  flex-shrink: 0;
  font-size: 30px;
}

@media (max-width: 1024px) {
  .aboutus-section {
    grid-template-columns: 1fr;
    padding: 40px;
    margin-top: 50px;
    position: static;
    z-index: auto;
  }

  .picture-aboutus {
    display: none;
  }

  .text-aboutus {
    align-items: flex-start;
    text-align: left;
  }
}