.hero-div{
    height: 40vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin-bottom: 20px;
    
}
.hero-div h1{
    color: #14a800;

}
.hero-div p{
    color: #222;
    margin: 0;
}