.hire-page{
    padding: 60px 10%;
  background: #f6f7f6;
  min-height: 100vh;
}

.freelancers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.post-service-container {
  text-align: center;
  margin-bottom: 20px;
}
.post-service{
  background-color: #14a800;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.post-service:hover{
  background-color: #108a00;
}